
@font-face {
    font-family: 'Urban';
    src: url('./Zilap\ Urban\ Bold.ttf') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Minimal';
    src: url('./Zilap\ Minimalist.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'GoodVibes';
    src: url('./GoodVibes.otf') format('woff');
    font-weight: 600;
    font-style: normal;
}

@import "../../node_modules/bulma/bulma.scss";

html {
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%,rgb(252, 99, 48) 12%,rgba(131,58,180,1) 60%, rgba(253,29,29,1) 90%, rgba(252,176,69,1) 100%);
    // background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 800vh;
}


html > * {
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    color: #efefef !important;
}

.has-chakra-font {
    font-family: "Chakra Petch", sans-serif;
}

.has-urban-font {
    font-family: "Urban", sans-serif !important;
}

strong {
    font-family: "Minimal", sans-serif !important;
    color: #efefef !important;

}

.has-minimal-font {
    font-family: "Minimal", sans-serif !important;
}

.has-vibes-font {
    font-family: "GoodVibes", sans-serif !important;
}

.wiki-icon {
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    pointer-events: none;
    color: #efefef;
    font-size: 6rem !important;
    opacity: 0;
    -moz-transition: all .33s ease-in;
    -o-transition: all .33s ease-in;
    -webkit-transition: all .33s ease-in;
    transition: all .33s ease-in;
}



.name-link {
    font-size: 3rem;
    text-decoration: none !important;
    color: #efefef;
    cursor: pointer;
    -moz-transition: all .33s ease-in;
    -o-transition: all .33s ease-in;
    -webkit-transition: all .33s ease-in;
    transition: all .33s ease-in;
}

.name-link:hover { 
    color: rgba(252,176,69,1);
}

.cool-link {
    color: #efefef;
    cursor: pointer;
    -moz-transition: all .33s ease-in;
    -o-transition: all .33s ease-in;
    -webkit-transition: all .33s ease-in;
    transition: all .33s ease-in;
}

.cool-link:hover { 
    color: rgba(252,176,69,1);
}


.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-title {
    padding-top: 1.5rem;
    font-size: 2rem;
}

.area-of-expertise {
    padding: 0.5rem;
    border-radius: 0.25rem; 
    display: flex; 
    flex-direction:column; 
    justify-content: space-between; 
    align-items: center;
}

.area-items {
    display:  flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.area-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 33%;
}

.card {
    margin-left:1rem;
    margin-right: 1rem;
    background-color: unset;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.card-content {
    height: 100%;
}
.card-footer {
    margin-top: auto;
    background-color: #34343450;
}
.card-content {
    background-color: #34343450;
    padding: var(--bulma-card-content-padding);
}

.modal-background {
    background-color: #343434aa;
}

.box {
    background-color: #343434ef;
}

.box > * {
    color: #efefef !important;
}
h4 {
    color: #efefef !important;
}
h5 {
    color: #efefef !important;
}

.image-with-link {
    cursor: pointer;
    -webkit-filter: brightness(100%);
    position: relative;
}
.image-with-link:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    -o-transition: all 0.33s ease;
    -ms-transition: all 0.33s ease;
    transition: all 0.33s ease;
}

.image-with-link:hover > .wiki-icon {
    opacity: 1;
}